.kiosk-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  color: var(--color-foreground);

  font-size: clamp(1.5rem, 1vw, 3rem);
  font-weight: var(--font-heading-weight);
  line-height: 1.5;
  letter-spacing: -0.02em;
}