HTTP_HOST=0.0.0.0
HTTP_PORT=8080
HTTP_ALLOWED_ORIGINS=localhost,localhost:5173

DISPLAY_MODE=virtual
DISPLAY_BRIGHTNESS=100

IDLE_ENABLED=true
IDLE_TIMEOUT=5m

SCHEDULE_ENABLED=true
SCHEDULE_ON=07:00
SCHEDULE_OFF=23:00
TIMEZONE=America/Sao_Paulo

ACTIVITY_LIFE_SPAN=168h
