[data-screen-mode="home"] {
  min-height: 100vh;
}

[data-screen-mode="notification"] {
  min-height: 100vh;
}

[data-layout="home"] {
  display: grid;
}

[data-layout="notification"] {
  display: grid;
}